/* Your styles go in here. */
#main {
    width: 600px;
    margin: 0 auto;
}
/*min-width works...not sure about the rest of it*/
@media screen and (min-width: 600px) {
    nav {
        position: relative; /*what does this do?*/
        top: 0;/*what does this do?*/
        width: 100%; /*what does this do?*/
        height: auto;
    }
    main {
        margin-top: 500px;/*does this do anything? Does it need a
        container?*/
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        align-items: center;


    }

    /*label {
        display: inline-block;
        width: 110px;
        text-align: left;
*/

}

/*I don't know why the "position" is static or absolute*/
@media screen and (max-width: 599px) {
    /*this section below seems to do nothing.
    nav {
        position: static;
        height: auto;
        margin: 20px;
        padding: 50px;
        box-sizing: border-box;
    }*/
    label {
        display: inline-block;
        width: 110px;
        text-align: right;
        padding: 10px;
    }
    #create_new_pet {
        margin-left: 100px;
    }
    button {
        margin-bottom: 16px;
    }
}



        /*Here are the instructions:
        ...is 600px wide when the screen is greater than or equal to
        600px wide
        ... uses grid layout to layout labels and form elements when
        the screen is greater than or equal to 600px wide
        ... is the width of the screen when the screen is less than
        600px wide
        ... lays out the labels and form elements as full width when
        the screen is less than 600px wide*/
