/* Your styles go in here. */

@media screen and (min-width: 600px) {

    #full-screen-width {
        width: 600px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        align-items: center;

    }

    /*label {
        display: inline-block;
        width: 110px;
        text-align: left;
*/

}

/*I don't know why the "position" is static or absolute*/
@media screen and (max-width: 599px) {

    label {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 110px;
        text-align: left;
        padding: 0px;
    }

    button {
        margin-top: 16px;
    }

    input, select, textarea {
        width: 100%;
    }
}

.card:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
}

.card {
    width: 344px;
    height: auto;
    margin-top: 5px;
    display: grid;
    grid-template-rows: 194px 1fr;
    font-family: Arial;
    border-radius: 2%;
    border: 2px solid rgb(185, 185, 185);
        }

.card-person-titles {
    display: flex;
    flex-direction: row;
}

.card-image img {
    height: 194px;
    width: 100%;
}

.card-person img {
    border-radius: 50%;
    width: 40px;
    margin: 15px;
}

.card-title h2 {
    color: #000;
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.card-secondary-text {
    color: #232F34;
    font-size: 11px;
    margin-top: 10px;
}

.card-body-text {
    color: #232F34;
    font-size: 11px;
    padding: 16px;
}






        /*Here are the instructions:
        ...is 600px wide when the screen is greater than or equal to
        600px wide
        ... uses grid layout to layout labels and form elements when
        the screen is greater than or equal to 600px wide
        ... is the width of the screen when the screen is less than
        600px wide
        ... lays out the labels and form elements as full width when
        the screen is less than 600px wide*/
